@import 'main';
h1{
  margin:0 auto;
  width:400px;
  text-align: center;
}
#register{
  text-align: center;
}
form{
  text-align: center;
  margin:0 auto;
  width:400px;
  input{
    text-align: center;
  }
}